.section {
  width: 100vw;
  height: 100vh;
  background-color: #017374;
  display: flex;
  justify-content: center;
  align-items: center;
  .login {
    background-color: #d0fefe;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    padding: 20px 60px 40px 60px;
    box-sizing: border-box;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    h2 {
      font-family: "Bakbak One", cursive;
      font-size: 2.3rem;
      color: #1f3b4d;
      margin-bottom: 15px;
    }

    fieldset {
      border: none;
      input {
        width: 100%;
        border-radius: 5px;
        padding: 15px 20px 15px 20px;
        box-sizing: border-box;
        background-color: #1f3b4d;
        color: #d0fefe;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        font-family: "Bakbak One", cursive;
        &:active,
        &:focus {
          background-color: #385263;
          border: none;
          outline: none;
        }
      }
      ::placeholder {
        color: #7e9999;
      }
    }
    p.error {
      color: #e78c2a;
      font-family: "Bakbak One", cursive;
      text-align: left;
      font-size: 0.8rem;
    }
    button {
      width: 100%;
      border-radius: 5px;
      padding: 15px 20px 15px 20px;
      margin-top: 10px;
      box-sizing: border-box;
      border: none;
      background-color: #e78c2a;
      color: white;
      text-transform: uppercase;
      font-family: "Bakbak One", cursive;
    }
  }
}
